// Colors
$main-color:#f6f6f6;
$background-color: #eaeaea;
$font-color: #99E2D0;
$badge-txt-color: #008766;
$footer-color: #353535;
$fonctionnement-color:#7e7e7e;
$fonctionnement-secondarycolor: #9356DC;
$btn-gradient: linear-gradient(#FF79DA,#9356DC);


// Général
* {
    font-family: roboto;
}

@mixin txtHomepage {
    font-family: roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

@mixin IndexTitle {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

@mixin MenuTitle {
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@mixin CardTitle {
font-family: Roboto;
font-size: 18px;
font-style: normal;
line-height: normal;
margin: 0;
}

@mixin CardSubtitle {
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 0;
}

// Modules, Pages
@import'layout/_footer.scss';
@import'layout/_header.scss';
@import'layout/index.scss';
@import'layout/menu.scss';

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width:100%;
    height: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.Btn {
    @include txtHomepage;
    color: white;
    border: none;
    padding: 13px 19px;
    border-radius: 25px;
    background: $btn-gradient;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}