/****** Animations du coeur  ******/

/* Effet au survol du coeur*/
@keyframes heart {
    0%{
        opacity: 0;
        transform: scale(0.8); // Début de l'animation, le cœur est légèrement réduit
        -webkit-transform: scale(0.8);
    }

    100%{
        opacity: 1;
        transform: scale(1); 
        -webkit-transform: scale(1);
    }
}

/* Disparition du coeur après l'effet de survol*/
@keyframes heart-disappear {
    0% {
        opacity: 1;
        transform: scale(1); 
        -webkit-transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8); // fin de l'animation, le cœur est légèrement réduit
        -webkit-transform: scale(0.8);
    }
}

/****** Apparition de la page des menus ******/
@keyframes menu-appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    } 
}

/******Apparition du checked des plats ******/
@keyframes check-appear {
    0% {
        right: -59px;
    }

    100% {
        right: 0;
    }
}

@keyframes price-slide {
    0% {
        right: 0;
    }

    100% {
        right: 59px;
    }
}

/****** Disparition du checked des plats ******/
@keyframes check-disappear {
    0% {
        right: 0;
    }

    100% {
        right: -59px;
    }
}

@keyframes price-disappear {
    0% {
        right: 59px;
    }

    100% {
        right: 0;
    }
}