footer {
    background-color: $footer-color;
    color: white;
    padding: 22px 25px;

    .footer__logo {
        width: 139px;
        height: 27px;
        filter: invert(1);
    }
    
    .footer__list {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        &--icon {
            font-weight: 500;
            display: flex;
            gap: 11px;
        }
    }
}

.fa-handshake-angle {
    align-self: center;
}

/* Media Queries */

@media (min-width: 768px){
    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 60px 25px 30px 25px;
        gap: 60px;

    .footer__list {
        flex-direction: row;
        padding-top: 0;
        }
    }
}