.headerIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Header page "Restaurant"
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}



