.loader {
    position: fixed; // maintient le loader au centre même si on fait défiler la page
    z-index: 2; // pour que le loader soit avant les pages du site web
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disparition 1s ease-in-out forwards; // animation qui permet la disparition du loader
    -webkit-animation: disparition 1s ease-in-out forwards;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;

    &__balls {
        animation: spinball 1s infinite linear; // animation qui permet la roation de chaque cercle
        -webkit-animation: spinball 1s infinite linear;
        width: 100px;
        height: 100px;
    }
}

.ballcolor {
    width:100px;
    height:100px;
    border-radius:50%
}

.ball_1, .ball_2, .ball_3, .ball_4 {
    position:absolute;
}

/* Personnalisation et position de chaque cercle de couleur */
.ball_1{
    border:2px solid $fonctionnement-secondarycolor;
    top:0;
    left:10px;
} 

.ball_2{
    border:2px solid #999999;
    top:0;
    left:-10px;
} 

.ball_3{
    border:2px solid #FF79DA;
    top:10px;
    left:0;
} 

.ball_4{
    border:2px solid $font-color;
    top:-10px;
    left:0;
}

/* Rotation des cercles du loader*/
@keyframes spinball {
    0% {
        transform:rotate(0deg);
        -webkit-transform: rotate(0deg);
    } 

    100% {
        transform:rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

/* disparition du Loader */
@keyframes disparition {
    0% { 
        opacity: 1;
    }

    100% { 
        opacity: 0;
        z-index: -1; // pour que le loader passe "sous" les éléments de la page
    }
}
