body {
    margin: 0;
}

.main__menu {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.restaurant__img {
    object-fit: cover;
    height: 275px;
}

.menu__card {
    background-color: $main-color;
    
    &--content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding-top: 50px;
        bottom: 40px;
        background-color: $main-color;
        position: relative;
        overflow: hidden;  
    }

    &--title {
        @include MenuTitle;
    } 

    /* Style des coeurs */
    .coeur-vide, .coeur-plein {
        position: absolute;
        bottom: 10px;
    }
    
    .coeur-plein {
        @include CoeurColore;
    }

    /* Animation de l'apparition du coeur plein au survol*/
    &--heart:hover {
        .coeur-vide {
            opacity: 0;
        }

        .coeur-plein {
            display: inline-block;
            animation: heart 1s both; // pour que le coeur reste à 100%
            -webkit-animation: heart 1s both;
        }
    } 
}

/* bordure des titres des menus */
.subtitle-border {
    @include CardSubtitle;
    font-size: 16px;
    position: relative;
    margin-bottom: 9px;

    &:after {
        content: "";
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: $font-color;
        overflow: hidden;
    }
}

/* Apparition des plats au chargement de la page */
.entrees, .plats, .desserts {
    animation: menu-appear 1s ease-in-out both;
    -webkit-animation: menu-appear 1s ease-in-out both ;
}

/* Délai d'animation afin que chaque partie apparaissent en décalé */
.entrees {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.plats {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.desserts {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.menu {
    padding: 0 20px 40px 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        padding: 15px;
        align-items: center;
        background-color: white;
        box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
        overflow: hidden;
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap;
        overflow: hidden;

        &--txt {
            @include CardSubtitle;
            font-size: 15px;
        }

        > h3 {
            margin: 0;
            @include CardTitle;
            font-weight: 500;
        }
        
        > h3, p {
            text-overflow: ellipsis; 
            overflow: hidden;
        }
    }

    &__items--price {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        .price {
            position: relative;
        }

        .check {
            position: absolute;
            right: -59px;
            color: white;
            background-color: $font-color;
            width: 59px;
            height: 69px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            opacity: 0;

            .fa-circle-check {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transition: transform 1s ease-in; // rotation de l'icone à 360°
            }
        }
    }

    /* Apparition du check au survol des plats */
    &__content:hover {
        .plat {
            width: 70%;
        }

        .price {
            animation: price-slide 800ms both;
            -webkit-animation: price-slide 800ms both;
        }

        .check {
            @include check;
            animation: check-appear 800ms both;
            -webkit-animation: check-appear 800ms both;

            >.fa-circle-check {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg)
            }
        }
    }
    
    /* Disparition du check après le survol des plats */
    &__content:not(:hover) {
        .plat {
            width: 100%;
        }

        .price {
            animation: price-disappear 800ms;
            -webkit-animation: price-disappear 800ms;
        }

        .check {
            @include check;
            animation: check-disappear 800ms;
            -webkit-animation: check-disappear 800ms;
        }    
    }
} 

.CTA {
    display: flex;
    justify-content: center;
}

/* Media queries*/
// Tablets
@media (min-width: 768px) {
    .main__menu {
        margin-left: 100px;
        margin-right: 100px;
    }

    .menu {
        padding-left: 100px;
        padding-right: 100px;
    }

    .menu__card--content {
        gap: 24px;
    } 
}

// Desktop
@media (min-width: 1024px) {
    .main__menu {
        margin-left: 190px;
        margin-right: 190px;
    }

    .restaurant__img {
        height: 350px;
    }

    .menu {
        padding-left: 140px;
        padding-right: 140px;
    }
}