// Colors
$main-color:#f6f6f6;
$background-color: #eaeaea;
$font-color: #99E2D0;
$badge-txt-color: #008766;
$footer-color: #353535;
$fonctionnement-color:#7e7e7e;
$fonctionnement-secondarycolor: #9356DC;
$btn-gradient: linear-gradient(#FF79DA,#9356DC);